// VARIABLES

  // COLORS
  $color-primary-header: #e60004;
  $color-primary-header-dark: #830507;
  $color-black: #000;
  $color-dark-grey: rgb(34, 33, 33);
  $color-white: #fff;

  // FONT


  // GRID
  $grid-width: 90vw;
  $grid-width-tab-port: 95vw;
  $grid-width-phone: 95vw;
  $gutter-vertical: 8rem;
  $gutter-vertical-small: 6rem;
  $gutter-horizontal: 6rem;

// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;