.section-test {
  background-image: linear-gradient(to bottom right, rgb(172, 7, 7),rgb(109, 5, 5));
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  padding: 5.7rem 0;
}

.gallery {
  width: 95vw;
  height: 10rem;
  background-color: rgb(245, 243, 243);
  margin: 0 auto;
  // margin: 5.7rem auto 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  &__icons {
    height: 2.7rem;
    width: 2.7rem;
    margin: 0 1rem;
    background-color: yellowgreen;
    fill: black;
    
  }

  &__text {
    background-color: rgb(230, 113, 148);
    padding: 0;
    margin-right: auto;
  }

}

// .flex {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
//   flex-wrap: wrap; 


  // display: flex;
  // display: inline-flex;

  // flex-direction: row;
  // flex-direction: row-reverse;
  // flex-direction: column;
  // flex-direction: column-reverse;

  // justify-content: center;
  // justify-content: flex-start;
  // justify-content: flex-end;
  // justify-content: space-around;
  // justify-content: space-between;
  // justify-content: space-evenly;

  // align-items: baseline;
  // align-items: stretch;
  // align-items: center;
  // align-items: flex-end;
  // align-items: flex-start;

  // flex-wrap: wrap; will wrap all content into rows in a container
  // flex-wrap: wrap; 

  // align-content aligns the rows in a container
  // align-content: flex-start; 
  // align-content: flex-end;
  // align-content: center;
  // align-content: space-around;
  // align-content: space-between;
  // align-content: space-evenly;
  // align-content: stretch;

// }

// .flex__item {
  // FLEX- GROW SHRINK BASIS        SHORTHAND
  // flex-grow: 0;  // will take up all space across the main-axis (relative number)
  // flex-shrink: 1;   // will allow item to shrink - 0 = no shrink
  // flex-basis: 0;

  // flex: 1; // GROW          SHORTHAND
// }

// .flex__item_1  {
  // align-self: flex-start;
  // align-self: baseline;
  // align-self: stretch;
  // align-self: center;
  // align-self: flex-end;

  // FLEX- GROW SHRINK BASIS        SHORTHAND
  // flex: 1;
// }

// .flex__item_2 {
  // order: 0; // will order an item left(small) to right(big) (relative number) default 0
// }