<div class="footer">

  <div class="row u-center-text">

    <a href="/mailchimp-form" class="btn btn__footer btn__link" >let's eat</a>

    <div class="footer__list u-center-text u-margin-top-huge u-margin-bottom-medium">
        <a href="https://www.facebook.com/dorotasoto/" target="_blank" class="footer__link">
          <i class="fa fa-facebook-square">acebook</i>
        </a>
        <a href="https://www.instagram.com/dorotasoto/?hl=en" target="_blank" class="footer__link">
          <i class="fa fa-instagram">instagram</i>
        </a>
    </div>

  </div>

</div>