<div class="navigation">

  <a href="/" target="_self" class="navigation__link_header_1">dorota soto</a>

  <input type="checkbox" class="navigation__input_checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation__label_button">
      <span class="navigation__span_button">&nbsp;</span>
  </label>
  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item navigation__item_header"><a href="/" target="_self" class="navigation__link navigation__link_header">dorota soto</a></li>
      <li class="navigation__item"><a href="/"  target="_self" class="navigation__link">home</a></li>
      <li class="navigation__item"><a href="/about"  target="_self" class="navigation__link">about</a></li>
      <li class="navigation__item"><a href="/services"  target="_self" class="navigation__link">services</a></li>
      <li class="navigation__item"><a href="/coaching"  target="_self" class="navigation__link">coaching</a></li>
      <li class="navigation__item"><a href="/menu"  target="_self" class="navigation__link">menu</a></li>
      <li class="navigation__item"><a href="/events"  target="_self" class="navigation__link">events</a></li>
    </ul>
    <a href="/mailchimp-form" target="_self" class="btn btn__link btn__nav u-center-text">let's eat</a>
  </nav>

</div>