// COMPONENTS

.btn {
  font-size: 1rem;
  letter-spacing: .1rem;
  padding: 1rem;
  border-radius: 50rem;
  border: 1px solid black;
  text-transform: uppercase;
  background-color: $color-white;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;

  &__footer {
    width: 15rem;
    padding: 1.5rem;
    font-size: 1.4rem;
    letter-spacing: .3rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-black;
      text-decoration: none;
      transition: all .2s;
    }

    &:hover {
      // transform: scale(1.1);
      color: $color-primary-header;
      box-shadow: 0 1rem 2rem rgba($color-black,.3x);
    }
  }

  &__nav {
    width: 10rem;
    position: absolute;
    top: .5rem;
    right: 3%;
  }
}